input{ vertical-align:middle; margin:0; padding:0}
#container1{
    width: 50%;
    margin: 30px 50px;
    left: 50px;
    top: 30px;
}
.file-loading{ position:relative;
    width:500px;
    height: 200px;
    top: 100px;
    left: 100px;
}
.txt{ height:35px; border:1px solid #cdcdcd; width:220px;}
.btn{ background-color:rgb(0,105,217); border:1px solid #CDCDCD;height:38px; width:100px;}
.file{ position:absolute; top:0; right:80px; height:35px; filter:alpha(opacity:0);opacity: 0;width:300px }
#lable-upload{
    font-size: 18px;
}
#container2{
    width: 50%;
    margin: 30px 50px;
    left: 50px;
    top: 30px;
}
