<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线监测</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/config.css">
    <script src="/js/switch.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet"><script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
</head>
<body>
<div id="container4">

    <div class="headrow">捕获器配置</div>
    <form method="post">

        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">读超时：</label>
                <div class="input-group2">
                    <input name="readTimeout" type="text" class="form-control shortform" placeholder="60" aria-describedby="basic-addon2">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
            <div class="halfrow">
                <label class="sublabel">间隔：</label>
                <div class="input-group2">
                    <input name="interval" type="text" class="form-control shortform" placeholder="2" aria-describedby="basic-addon2">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
        </div>
        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">计数：</label>
                <div class="input-group2">
                    <input name="count" type="text" class="form-control" placeholder="-1" aria-describedby="basic-addon2">

                </div>
            </div>

            <div class="halfrow">
                <div id="switch1">
                    <label class="sublabel">自动查找：</label>

                    <input name="enableAutoFind" class="testswitch-checkbox" id="onoffswitch" type="checkbox">
                    <label class="testswitch-label" for="onoffswitch">
                        <span class="testswitch-inner" data-on="ON" data-off="OFF"></span>
                        <!--<span class="testswitch-switch"></span>-->
                    </label>
                </div>
            </div>
        </div>
        <div class="rowform">
            <label class="sublabel">过滤器：</label>
            <input name="filter" type="text" class="form-control long2form" placeholder="tcp port 443 and (dst 192.168.31.137 or src 192.168.31.137)" aria-describedby="basic-addon2">
        </div>

        <div class="rowform">
            <div class="halfrow">

                <label class="sublabel">捕捉栅格长度：</label>

                <input name="snaplen" type="text" class="form-control" placeholder="65536" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon5">个</span>
            </div>
        </div>
    </form>
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="headrow">监听器配置</div>
    <form method="post">

        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">传输形式：</label>
                <select class="form-control" id="transmittingGrain">
                    <option>0 原始数据包</option>
                    <option>1 包</option>
                    <option>2 流</option>
                    <option>3 会话</option>
                </select>
            </div>
            <div class="halfrow">
                <label class="sublabel">传输超时：</label>
                <div class="input-group2">
                    <input name="transmittingTimeout" type="text" class="form-control shortform" placeholder="10" aria-describedby="basic-addon2">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
        </div>
        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">输出形式：</label>
                <select class="form-control" id="outputtingGrain">
                    <option>0 原始数据包</option>
                    <option>1 包</option>
                    <option>2 流</option>
                    <option>3 会话</option>
                </select>
            </div>
            <div class="halfrow">
                <label class="sublabel">输出超时：</label>
                <div class="input-group2">
                    <input name="outputtingTimeout" type="text" class="form-control shortform" placeholder="10" aria-describedby="basic-addon2">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
        </div>
        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">插件形式：</label>
                <select class="form-control" id="pluginGrain">
                    <option>0 原始数据包</option>
                    <option selected>1 包</option>
                    <option>2 流</option>
                    <option>3 会话</option>
                </select>
            </div>
            <div class="halfrow">
                <label class="sublabel">插件超时：</label>
                <div class="input-group2">
                    <input name="pluginTimeout" type="text" class="form-control shortform" placeholder="1" aria-describedby="basic-addon2">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
        </div>
        <div class="rowform">
            <label class="sublabel">meeting超时：</label>

            <input name="meetingTimeout" type="text" class="form-control longform" placeholder="100" aria-describedby="basic-addon2">
            <span class="input-group-addon">秒</span>
        </div>
        <div class="rowform">
            <label class="sublabel">最大分段：</label>

            <input name="segmentMax" type="text" class="form-control" placeholder="10000" aria-describedby="basic-addon2">
            <!--            <span class="input-group-addon">个</span>-->
        </div>

        <div class="rowform">
            <label class="sublabel">传输监听器：</label>
        </div>
        <div class="rowform">
            <label class="sublabel2">端口：</label>
            <input name="port" type="text" class="form-control" placeholder="5150" aria-describedby="basic-addon2">
            <!--            <span class="input-group-addon">秒</span>-->
        </div>
        <div class="rowform">
            <label class="sublabel2">网址：</label>
            <input name="netAddress" type="text" class="form-control longform" placeholder="183.198.217.144" aria-describedby="basic-addon2">
            <!--            <span class="input-group-addon">秒</span>-->
        </div>
        <div class="rowform">
            <label class="sublabel">输出配置：</label>
        </div>
        <div class="rowform">
            <label class="sublabel2">文件路径：</label>
            <input name="filePath" type="text" class="form-control longform" placeholder="C:\\Users\\18809\\Desktop\\Honeyeye" aria-describedby="basic-addon2">
            <!--            <span class="input-group-addon">秒</span>-->
        </div>
        <div class="rowform">
            <div class="halfrow">
                <!--                <label class="sublabel">过滤器：</label>-->
                <div class="input-group2">
                    <label class="sublabel2">文件名称：</label>
                    <input name="fileName" type="text" class="form-control longform" placeholder="testPcap" aria-describedby="basic-addon2">
                    <!--                    <input name="filter" type="text" class="form-control longform" placeholder="" aria-describedby="basic-addon2">-->
                </div>
            </div>
        </div>

    </form>
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="headrow">输出模式配置</div>
    <form method="post">

        <div class="rowform">
            <div class="halfrow">
                <label class="sublabel">输出模式：</label>
                <select class="form-control" id="output-mode">
                    <option>1 传输</option>
                    <option>2 存储</option>
                    <option>3 传输并存储</option>
                    <option>4 其它</option>
                </select>
            </div>
        </div>
        <div class="halfrow">
            <!--<span class="input-group-addon" id="basic-addon3">秒</span>-->
            <button id="online-alnaysis" type="button" class="btn btn-info">开始</button>
        </div>
    </form>

</div>
</body>
<script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    $('#online-alnaysis').click(function () {
        //获取前端参数
        var readTimeout = isEmpty($('input[name="readTimeout"]').val()) ? $('input[name="readTimeout"]').attr("placeholder") : $('input[name="readTimeout"]').val();
        var interval = isEmpty($('input[name="interval"]').val()) ? $('input[name="interval"]').attr("placeholder") : $('input[name="interval"]').val();
        var count = isEmpty($('input[name="count"]').val()) ? $('input[name="count"]').attr("placeholder") : $('input[name="count"]').val();
        var enableAutoFind = $("#onoffswitch").is(':checked');
        var filter = isEmpty($('input[name="filter"]').val()) ? $('input[name="filter"]').attr("placeholder") : $('input[name="filter"]').val();
        var snaplen = isEmpty($('input[name="snaplen"]').val()) ? $('input[name="snaplen"]').attr("placeholder") : $('input[name="snaplen"]').val();

        //监听器配置部分的前台参数
        var transmittingGrain = $("#transmittingGrain option:selected").text().split(" ")[0];
        var transmittingTimeout = isEmpty($('input[name="transmittingTimeout"]').val()) ? $('input[name="transmittingTimeout"]').attr("placeholder") : $('input[name="transmittingTimeout"]').val();
        var outputtingGrain = $("#outputtingGrain option:selected").text().split(" ")[0];
        var outputtingTimeout = isEmpty($('input[name="outputtingTimeout"]').val()) ? $('input[name="outputtingTimeout"]').attr("placeholder") : $('input[name="outputtingTimeout"]').val();
        var pluginGrain = $("#pluginGrain option:selected").text().split(" ")[0];
        var pluginTimeout = isEmpty($('input[name="pluginTimeout"]').val()) ? $('input[name="pluginTimeout"]').attr("placeholder") : $('input[name="pluginTimeout"]').val();
        var meetingTimeout = isEmpty($('input[name="meetingTimeout"]').val()) ? $('input[name="meetingTimeout"]').attr("placeholder") : $('input[name="meetingTimeout"]').val();
        var segmentMax = isEmpty($('input[name="segmentMax"]').val()) ? $('input[name="segmentMax"]').attr("placeholder") : $('input[name="segmentMax"]').val();
        var portNum = isEmpty($('input[name="port"]').val()) ? $('input[name="port"]').attr("placeholder") : $('input[name="port"]').val();
        var netAddress = isEmpty($('input[name="netAddress"]').val()) ? $('input[name="netAddress"]').attr("placeholder") : $('input[name="netAddress"]').val();
        var filePath = isEmpty($('input[name="filePath"]').val()) ? $('input[name="filePath"]').attr("placeholder") : $('input[name="filePath"]').val();
        var fileName = isEmpty($('input[name="fileName"]').val()) ? $('input[name="fileName"]').attr("placeholder") : $('input[name="fileName"]').val();

        //输出配置部分的前台参数
        var outputMode = $("#output-mode option:selected").text().split(" ")[0];

        //测试
        console.log(readTimeout+","+interval+","+count+","+enableAutoFind+","+filter+","+snaplen);
        console.log(transmittingGrain+","+transmittingTimeout+","+outputtingGrain+","+outputtingTimeout+","+pluginGrain+","+pluginTimeout);
        console.log(meetingTimeout+","+segmentMax+","+portNum+","+netAddress+","+filePath+","+fileName);
        console.log(outputMode);

        //获取前端数据后，封装为JSON格式数据，发送到后端
        //封装JSON数据
        var configParam = {
            "system":{
                "outputingMode":outputMode
            },
            "inputer": {
                "capturer": {
                    "count":count,
                    "readTimeout":readTimeout,
                    "snaplen":snaplen,
                    "filter":filter,
                    "interval":interval,
                    "enableAutoFind":enableAutoFind
                }
            },
            "listener": {
                "transmittingGrain":transmittingGrain,
                "transmittingTimeout":transmittingTimeout,
                "outputtingGrain":outputtingGrain,
                "outputtingTimeout":outputtingTimeout,
                "pluginGrain":pluginGrain,
                "pluginTimeout":pluginTimeout,
                "meetingTimeout":meetingTimeout,
                "segmentMax":segmentMax,
                "transmittingListener":{
                    "port":portNum,
                    "netAddress":netAddress
                }
            },
            "outputer":{
                "filePath":filePath,
                "fileName":fileName
            }
        }
        $.ajax({
            type: "post",
            url: "http://localhost:8080/online",
            data: JSON.stringify(configParam),
            contentType: "application/json",
            dataType: "json",
            success: function(res) {
                // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
            }
        });
    });

    //判断是否为空
    function isEmpty(v) {
        if (v === null || v === undefined || v === "")
        {
            return true;
        }else{
            return false;
        }
    }


</script>
</html>